<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body style="margin: 0px; padding: 0px; ">

    <table border=1 cellspacing=0 cellpadding=0 style='width:100%; border-collapse:collapse;border:none'>
        <tr style="background-color: #315c69; color: white;">
            <td width=100% colspan=7 valign="middle" style='width:100%;border:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Relatório Estoque de Produtos</b>
            </td>
        </tr>

        <tr style='background-color: #478ba0; color: white; font-weight:bold'>
            <td width=10% valign=middle style=' width:10%;border:solid windowtext 1.0pt; border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Código</b>
            </td>
            <td width=30% valign=middle style='width:30%;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Produto</b>
            </td>
            <td width=15% valign=middle style='width:15%;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Tipo Produto</b>
            </td>
            <td width=10% valign=middle style='width:10%;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Estoque Mínimo</b>
            </td>
            <td width=10% valign=middle style='width:10%;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Qtd. Estoque</b>
            </td>
            <td width=10% valign=middle style='width:10%;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Preço de Compra</b>
            </td>
            <td width=15% valign=middle style='width:15%;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <b>Status Estoque</b>
            </td>
        </tr>

        <dados></dados>

    </table>

</body>
</html>