<tr>
    <td width=321 colspan=2 valign=top style='background-color: #478ba0; color: white;width:240.6pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        <b>Reserva Confirmada (Hospedagem {{codigohospedagem}})</b>
    </td>
</tr>

<tr>
    <td width=113 valign=top style='background-color: #dadada; color: #1d1d1d;width:84.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <b>Data Entrada:</b>
    </td>
    <td width=208 valign=top style='width:155.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{dataentradahospedagem}}
    </td>
</tr>

<tr>
    <td width=113 valign=top style='background-color: #dadada; color: #1d1d1d;width:84.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <b>Data Saída:</b>
    </td>
    <td width=208 valign=top style='width:155.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{datasaidahospedagem}}
    </td>
</tr>

<tr>
    <td width=113 valign=top style='background-color: #dadada; color: #1d1d1d;width:84.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <b>Apartamento:</b>
    </td>
    <td width=208 valign=top style='width:155.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{apartamentohospedagem}}
    </td>
</tr>

<tr>
    <td width=113 valign=top style='background-color: #dadada; color: #1d1d1d;width:84.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <b>Qtd. Diárias:</b>
    </td>
    <td width=208 valign=top style='width:155.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{qtddiariashospedagem}}
    </td>
</tr>

<tr>
    <td width=113 valign=top style='background-color: #dadada; color: #1d1d1d;width:84.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <b>Valor Diária:</b>
    </td>
    <td width=208 valign=top style='width:155.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
        {{valordiariahospedagem}}
    </td>
</tr>