<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        hr {
            border: 0;
            border-bottom: 1px dashed #ccc;
            background: #999;
        }
    </style>
</head>
<body style="margin: 0px; padding: 0px; ">

    <table valing="top" style="vertical-align:top; width:80%;padding-top:-100px">
        <tr>
            <td style="width:55%;vertical-align:top">

                <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=576 style='width:431.95pt;border-collapse:collapse;border:none'>
                    <tr>
                        <td width=576 colspan=4 valign=top style='background-color: #315c69; color: white;width:431.95pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Reserva {{codigoreserva}}</b>
                        </td>
                    </tr>
                    <tr>

                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Codigo Reserva:</b>
                        </td>
                        <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            {{codigoreserva}}
                        </td>

                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Status Reserva:</b>
                        </td>
                        <td width=180 valign=top style='width:134.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            {{statusreserva}}
                        </td>
                    </tr>

                    <tr>
                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Data Cadastro:</b>
                        </td>
                        <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            {{datacadastroreserva}}
                        </td>

                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Sinal:</b>
                        </td>
                        <td width=180 valign=top style='width:134.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            {{valorsinalreserva}} ({{statussinalreserva}})
                        </td>
                    </tr>

                    <tr>
                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Data Entrada:</b>
                        </td>
                        <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            {{dataentradareserva}}
                        </td>

                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Núm. Pessoas:</b>
                        </td>
                        <td width=180 valign=top style='width:134.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            {{qtdpessoasreserva}}
                        </td>
                    </tr>
                    <tr>

                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                            <b>Nome Cliente:</b>
                        </td>
                        <td width=463 colspan=3 valign=top style='width:347.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                            {{nomeclientereserva}}
                        </td>
                    </tr>
                    <tr style='height:4.15pt'>

                        <td width=140 valign=top style='background-color: #dadada; color: #1d1d1d;width:99.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:4.15pt'>
                            <b>Empresa:</b>
                        </td>
                        <td width=463 colspan=3 valign=top style='width:347.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:4.15pt'>
                            {{empresareserva}}
                        </td>
                    </tr>

                </table>

            </td>

            <td style="width:45%; vertical-align:top">


                <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=321 style='width:240.6pt;border-collapse:collapse;border:none'>

                    <dados></dados>

                </table>

            </td>
        </tr>
    </table>





</body>
</html>